<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>
    <%= title %>
  </title>
  <style>
    * {
      margin: 5px;
      margin-top: 0px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <a href="/" class="btn btn-sm btn-outline-info" type=""><i class="fa fa-home"></i>Home</a>
      <a href="/add" class="btn btn-sm btn-outline-success" type=""><i class="fa fa-user-plus"></i>Add Product</a>
    </form>
  </nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
</body>

</html>
<script>
  $(document).ready(function() {
    $("table").DataTable({
      order: [0, 'asc']
    });
  });
</script>